<div class="max-w-lg m-auto px-4">
<h1 class="text-3xl mt-10">Edit a session</h1>
<p class="text-lg text-grey">Modify your meeting by choosing the most suitable time.</p>
<%= render 'form', meeting: @meeting %>
</div>
