<div class="max-w-lg m-auto px-4">
<h1 class="text-3xl mt-10">Schedule a session</h1>
<p class="text-lg text-grey">Arrange a meeting with our approachable counsellor by choosing the most suitable time.</p>
<%= render 'form', meeting: @meeting %>
</div>